.name{
    color: white;
    display: flex;
    justify-content: center;
}
pre {
    background-color: #0e0c0cfb;
    padding: 15px;
    border-radius: 5px;
    color: white;
    width: 20%;
    margin: 20px;
}
.pre-wrap {
    white-space: pre-wrap;
}
.counter{
    width: 35%;
    height: auto;
}
.update{
    width: 50%;
    height: auto;
}

@media (max-width:500px){
    pre{
        background-color: #0e0c0cfb;
        padding: 5px;
        border-radius: 5px;
        color: white;
        width: 50%;
        margin: 5px;
    }
    .counter,.update{
        width: 70%;
        height: auto;
        font-size: 15px;
    }
    .update{
        width: 90%;
    }
}